* {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  scroll-behavior: smooth;
  box-sizing: border-box !important;
}
.pointer {
  cursor: pointer;
}
button {
  transition: 0.3s ease-in-out !important;
}
/* nav bar */
.nav_property {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 11px 18px 11px 31px;
}
.nav_btn {
  padding: 15px 30px;
}
.hover_line::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  background-color: #fff;
  bottom: 18px;
  left: 50%;
  transition: 0.6s ease-in-out;
}
.hover_line::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  background-color: #fff;
  bottom: -1px;
  left: 50%;
  transition: 0.6s ease-in-out;
}
.hover_line:hover::after {
  width: 100%;
  left: 0;
}
.hover_line:hover::before {
  width: 100%;
  left: 0;
}
.z-10 {
  z-index: 10;
}
/* hero */
.hero_bg {
  background-image: url(./assets/images/webp/heroBg.webp);
  background-size: cover;
}
.mx_600 {
  max-width: 600px;
}
.lh_normal {
  line-height: normal;
}
.mx_700 {
  max-width: 700px;
}
.startBorder {
  border: 1px solid #fff !important;
  transition: 0.4s linear;
}
.startBorder:hover {
  box-shadow: 0px 2px 12px 2px white;
  background: transparent;
}
.p_16_34 {
  padding: 16px 34px;
}
.typed {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 1.5s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
::-webkit-scrollbar {
  display: none !important;
}
/* join */
.mx_128 {
  max-width: 128px;
}
.bg_no_repeat {
  background-repeat: no-repeat;
}
.join_bg {
  background-image: url(./assets/images/webp/joinBg.webp);
  background-size: cover;
}
.lh_120 {
  line-height: 120%;
}
.mx_800 {
  max-width: 800px;
}
.mx_510 {
  max-width: 510px;
}
/* footer */
.footerBg {
  background-image: url(./assets/images/webp/footerBg.webp);
  background-size: cover;
}
.mx_90 {
  max-width: 90px;
}
.py_33 {
  padding-top: 33px;
  padding-bottom: 33px;
}
.p_14_28 {
  padding: 14px 28px;
}
.p_16_32 {
  padding: 16px 32px;
}
.footerLine {
  background-color: #2b2f34;
  height: 2px;
  width: 100%;
}
/* accordian */
.accordion-button:focus {
  z-index: 3;
  border-color: #c5c5c5 !important;
  outline: none !important;
  box-shadow: none !important;
}
.accordion-item:first-of-type .accordion-button {
  border-radius: 10px !important;
}
.accordion-button:not(.collapsed) {
  background-color: #efefef !important;
  box-shadow: none !important;
}
button:focus:not(:focus-visible) {
  outline: none !important;
}
.accordion {
  --bs-accordion-bg: #efefef !important;
  --bs-accordion-border-color: #c5c5c5 !important;
  --bs-accordion-border-width: 1px !important;
  --bs-accordion-border-radius: 10px !important;
  --bs-accordion-inner-border-radius: 10px !important;
  --bs-accordion-btn-padding-x: 16px !important;
  --bs-accordion-btn-padding-y: 16px !important;
  --bs-accordion-btn-active-icon: url(./assets/images/svg/accordinaArrow.svg) !important;
  --bs-accordion-btn-focus-border-color: transparent !important;
  --bs-accordion-btn-focus-box-shadow: none !important;
  --bs-accordion-body-padding-x: 16px !important;
  --bs-accordion-body-padding-y: 0 !important;
}
.accordion-button::after {
  background-image: url(./assets/images/svg/accordinaArrow.svg) !important;
  background-position: 0 5px !important;
}
.accordion-button {
  background-color: #efefef !important;
}
.accordion-item {
  border-radius: 10px !important;
}
.opacity08 {
  opacity: 0.8;
}
.mx_750 {
  max-width: 750px;
}
/* welcome */
.list_dot {
  list-style-type: disc !important;
}
.welcomeImg::after {
  content: "";
  position: absolute;
  max-width: 670px;
  border-radius: 5px;
  width: 100%;
  left: 1%;
  display: none;
  top: 5%;
  border: 4px solid #fff;
  height: 470px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(./assets/images/webp/WelcomeImg.webp);
}
.viewLine {
  background-color: #d7d7d7;
  width: 100%;
  height: 1px;
}
.mx_550 {
  max-width: 550px;
}
.hover_pink:hover {
  color: var(--color-pinkFF) !important;
}
.mb_45 {
  margin-bottom: 24px;
}
/* update box */
.updateBox {
  padding: 28px 40px;
  border-radius: 5px;
}
.opacity06 {
  opacity: 0.6;
}
.opacity05 {
  opacity: 0.5;
}
.min_h_140 {
  min-height: 140px;
}
.h_53 {
  height: 53px;
}
.p_12_24 {
  padding: 12px 24px;
}
.top_-12 {
  top: -12%;
}
:focus-visible {
  outline: -webkit-focus-ring-color auto 0px !important;
}
.linerBorder {
  background: linear-gradient(180deg, #cccccc 0%, #fff 55%);
  border-radius: 5px;
  display: inline-block;
  padding: 1px;
}
.linerBorder .yourNameInput {
  background: white;
  display: block;
  border-radius: 4px;
  padding: 12px 10px;
}
/* update small */
.updateBoxSmall {
  max-width: 80% !important;
  width: 100%;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.swal2-confirm {
  background-color: #ff5cd7 !important;
  border: 2px solid transparent !important;
}
.swal2-confirm:hover {
  box-shadow: 0px 2px 12px 2px var(--color-pinkFF) !important;
  border: 2px solid var(--color-pinkFF) !important;
  color: var(--color-pinkFF) !important;
  background-color: #fff !important;
}
.swal2-confirm:focus {
  box-shadow: none !important;
}
.swal2-success-ring {
  border: 0.25em solid rgb(255 92 215) !important;
}
div:where(.swal2-icon).swal2-success [class^="swal2-success-line"] {
  background-color: #ff5cd7 !important;
}
div:where(.swal2-icon).swal2-success
  [class^="swal2-success-line"][class$="long"] {
  top: 1.975em !important;
}
div:where(.swal2-icon).swal2-success
  [class^="swal2-success-line"][class$="tip"] {
  top: 2.375em !important;
  left: 0.3125em !important;
}
div:where(.swal2-container) div:where(.swal2-popup) {
  width: 25em !important;
  max-width: 100%;
  padding: 0 0 30px 0 !important;
  border: none;
  border-radius: 20px !important;
  background: #fff;
  color: #545454;
  font-family: inherit;
}
.updateBoxSmall:hover {
  transform: translateY(-10%);
}
.bottom_25 {
  bottom: 25%;
}
/* hover */
.subscribeHover {
  border: 2px solid transparent;
  transition: 0.4s linear;
}
.subscribeHover:hover {
  box-shadow: 0px 2px 12px 2px var(--color-pinkFF);
  border: 2px solid var(--color-pinkFF) !important;
  color: var(--color-pinkFF) !important;
}
/* back to top */
.backtotop_btn {
  z-index: 20;
  animation: topBtn 2s ease-in-out infinite;
}
.lh_110 {
  line-height: 110%;
}
@keyframes topBtn {
  0% {
    transform: scale(1) rotate(180deg);
  }
  50% {
    transform: scale(1.2) rotate(180deg) translateY(10%);
  }
  100% {
    transform: scale(1) rotate(180deg);
  }
}
/* preloader */
.loading {
  z-index: 200;
  height: 100%;
  width: 100%;
  background-image: url(./assets/images/webp/heroBg.webp) !important;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}
.w_188 {
  width: 188px;
}
.hoverWhite {
  background: transparent;
  color: white;
}
.hoverWhite:hover {
  color: black;
}
.whiteHover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: all 0.3s ease;
  z-index: 0;
  opacity: 0;
}
.whiteHover .textHoverWhite {
  transition: 0.3s ease-in-out;
}
.whiteHover:hover .textHoverWhite {
  color: white !important;
}
.whiteHover:hover:before {
  -webkit-transform: scaleX(200);
  -ms-transform: scaleX(200);
  transform: scaleX(200);
  opacity: 1;
}
.textHoverWhite {
  transition: 0.3s ease-in-out;
}
.hoverOpacity06 {
  transition: 0.3s ease-in-out;
}
.hoverOpacity06:hover {
  opacity: 0.6;
}
.textHoverWhite:hover {
  color: white;
}
.bg_whiteHover::before {
  background: white;
}
.bg_whiteHover2 {
  background: white;
}
.bg_whiteHover2::before {
  background: transparent !important ;
}
.subscribeHover::before {
  background: white;
}
.hoverBoxPink .hoverHeadding {
  transition: 0.2s ease-in-out;
}
.hoverBoxPink:hover .hoverHeadding {
  color: var(--color-pinkFF) !important;
}
@media (min-width: 1199.98px) {
  .container {
    max-width: 1140px !important;
  }
}
@media (min-width: 768px) and (max-width: 1920px) {
  .hero_h_custom {
    height: 100vh;
  }
}
@media (min-width: 1199.98px) {
  .welcomeImg::after {
    height: 534px;
  }
}
@media (min-width: 991.98px) {
  .position-lg-absolute {
    position: absolute;
  }
  .updateBoxSmall {
    max-width: 330px !important;
    animation: update 3.5s ease-in-out infinite;
  }
  .welcomeImg::after {
    display: block;
  }
}
@media (max-width: 767.98px) {
  .nav_show {
    position: fixed;
    height: 0vh;
    background-color: black;
    transition: all 0.6s linear;
    left: -127%;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    top: 0;
  }
  .updateBoxSmall {
    max-width: 96% !important;
  }
  .viewBox:hover .viewImg {
    transform: scale(1);
  }
  .nav_show.showw {
    left: 0%;
  }
  .welcomeImg::after {
    display: none !important;
  }
  .updateBox {
    padding: 24px;
  }
  .mx_670_md {
    max-width: 670px !important;
  }
  .mx_50 {
    max-width: 50px !important;
  }
  .nav_property {
    padding: 7px 20px 6px 16px;
  }
  .overflow_hidden {
    overflow: hidden !important;
  }
  .backtotop_btn {
    height: 40px !important;
    width: 40px !important;
  }
}
@media (max-width: 576px) {
  .mx_45_sm {
    max-width: 45px !important;
  }
  .accordion {
    --bs-accordion-btn-icon-width: 1rem !important;
  }
}
@media (min-width: 576px) {
  .mb_45 {
    margin-bottom: 45px !important;
  }
}
@media (min-width: 375px) {
  .nowrap_375 {
    white-space: nowrap;
  }
}
